{{ define "journallist" }}

<div class="container" id="journal-list-container">
	<header>
		<h1 class="center-text">Journals</h1>
		<hr />
	</header>
	<div class="row">
		<div class="col-6 p-4 m-5">
			<h2 class="mb-4">Current Journals</h2>
			{{ range .Journals }}
			<div id="journal-list">
				{{ block "journal-item" . }}
				<div class="card m-2 p-4 secondary-container" style="width: 17rem;">
					<div class="card-body">
						<h5 class="card-title">{{.Name }}</h5>
						<p class="card-text mb-0">
							{{.Description}}
						</p>
						<p class="card-text mb-4">
							Year: {{.Year}}
						</p>
						<div class="d-flex gap-2 float-end">
							<button class="btn btn-outline-danger float-end" hx-delete="/journal/{{.Id}}"
								hx-confirm="Are you sure you want to delete this Journal?" hx-target="closest .card"
								hx-swap="outerHTML"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
									<path
										d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
								</svg>
								Delete
							</button>
							<button type="button" class="btn btn-success" hx-get="./journal/{{.Id}}"
								hx-target="#journal-list-container" hx-trigger="click">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-journal" viewBox="0 0 16 16">
									<path
										d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2">
									</path>
									<path
										d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z">
									</path>
								</svg>
								Open
							</button>
						</div>
					</div>
				</div>

				{{ end }}
			</div>
			{{ end }}
		</div>
		<div class="col-4 p-4 m-4 secondary-container" id="add-journal">
			<h5>Add Journal</h5>
			<form class="row g-3" id="add-journal-form" hx-target="#journal-list" hx-swap="beforeend">
				<div class="form-floating mb-3">
					<input type="text" class="form-control" name="name" id="journal-name" placeholder="Name">
					<label for="journal-name">Journal Name</label>
				</div>
				<div class="form-floating mb-3">
					<input type="number" class="form-control" name="year" id="journal-year" placeholder="Year">
					<label for="journal-year">Year</label>
				</div>
				<div class="form-floating">
					<textarea class="form-control" name="description" id="journal-description"
						placeholder="Add a description..."></textarea>
					<label for="journal-description">Description</label>
				</div>
				<div class="d-flex float-end">
					<button type="button" class="btn btn-outline-success" type="submit" hx-post="/journal"
						class="btn btn-primary mb-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-journal-plus" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5">
							</path>
							<path
								d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2">
							</path>
							<path
								d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z">
							</path>
						</svg>
						Add
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{{ end }}
